<h1>Running Regression Models for MLP + LSTM</h1>

In [1]:
import os
import time

In [2]:
os.getcwd()

'C:\\Users\\13473\\Desktop\\e4040-2020Fall-Project-WNZH-jr4001-xy2419-gl2664\\Ipynbs To Run'

In [3]:
wd_path = r'../'
os.chdir(wd_path)
wd_path=os.getcwd()

In [4]:
import pandas as pd
import numpy as np

from datetime import datetime

In [5]:
normalized_data = 'complete_universe_cleaned_normalized_jonn.csv'
auto_encoder_data = "Autoencoder_transformed_43_dim_data.csv"

In [6]:
start_time = time.time()
df = pd.read_csv(normalized_data ,dtype={'COMNAM':str,'NCUSIP':str,'PERMNO':str,'PERMCO':str,'SICCD':str,'TICKER_PERMNO':str},low_memory=False,index_col=0)
df['DATE'] = pd.to_datetime(df['DATE'],format='%Y-%m-%d')
df = df.reset_index()
print("--- %s seconds ---" % (time.time() - start_time))

C:\ProgramData\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

--- 44.68705224990845 seconds ---

In [7]:
start_time = time.time()
auto = pd.read_csv(auto_encoder_data,low_memory=False,index_col=0)
print("--- %s seconds ---" % (time.time() - start_time))

--- 19.967561960220337 seconds ---

In [8]:
df.columns

Index(['index', 'DATE', 'COMNAM', 'NCUSIP', 'PERMNO', 'PERMCO', 'SICCD',
       'TICKER_PERMNO', 'accru', 'adv_sale', 'aftret_eq', 'aftret_equity',
       'aftret_invcapx', 'at_tu', 'bm', 'CAPEI', 'capital_rat', 'cash_debt',
       'cash_lt', 'cash_rat', 'cfm', 'curr_debt', 'curr_rat', 'de_rat',
       'debt_assets', 'debt_at', 'debt_capit', 'debt_ebitd', 'debt_invcap',
       'divyield', 'dltt_be', 'equity_invcap', 'evm', 'gpm', 'GProf', 'intcov',
       'intcov_rat', 'invt_act', 'lt_debt', 'lt_ppent', 'npm', 'ocf_lct',
       'opmad', 'opmbd', 'pay_tu', 'pcf', 'pe_ex', 'pe_inc', 'pretret_earnat',
       'pretret', 'profit_lct', 'ps', 'ptb', 'ptpm', 'quick_rat', 'rd_sale',
       'rect_act', 'rect_tu', 'roa', 'roce', 'roe', 'sale_equity',
       'sale_invcap', 'short_debt', 'staff_sale', 'totdebt_invcap', 'm-12',
       'm-11', 'm-10', 'm-9', 'm-8', 'm-7', 'm-6', 'm-5', 'm-4', 'm-3', 'm-2',
       'm-1', 'm+1'],
      dtype='object')

In [9]:
identifier_cols = ['DATE','COMNAM','NCUSIP','PERMNO','PERMCO','SICCD','TICKER_PERMNO']
cross_sectional_cols=['accru', 'adv_sale', 'aftret_eq', 'aftret_equity','aftret_invcapx', 'at_tu', 'bm', 'CAPEI', 'capital_rat', 'cash_debt',
       'cash_lt', 'cash_rat', 'cfm', 'curr_debt', 'curr_rat', 'de_rat','debt_assets', 'debt_at', 'debt_capit', 'debt_ebitd', 'debt_invcap',
       'divyield', 'dltt_be', 'equity_invcap', 'evm', 'gpm', 'GProf', 'intcov','intcov_rat', 'invt_act', 'lt_debt', 'lt_ppent', 'npm', 'ocf_lct',
       'opmad', 'opmbd', 'pay_tu', 'pcf', 'pe_ex', 'pe_inc', 'pretret_earnat','pretret', 'profit_lct', 'ps', 'ptb', 'ptpm', 'quick_rat', 'rd_sale',
       'rect_act', 'rect_tu', 'roa', 'roce', 'roe', 'sale_equity','sale_invcap', 'short_debt', 'staff_sale', 'totdebt_invcap']
sector_cols = ['Agriculture, Forestry and Fishing', 'Construction','Finance, Insurance', 'Manufacturing', 'Mining', 'Nonclassifiable',
       'Public Administration', 'Real Estate', 'Retail Trade', 'Services','Transportation, Communications, Electric, Gas and Sanitary service',
       'Wholesale Trade', 'not used']
time_series_cols= ['m-12','m-11', 'm-10', 'm-9', 'm-8', 'm-7', 'm-6', 'm-5', 'm-4', 'm-3', 'm-2','m-1']
Y = ['m+1']
returns =  ['m-12','m-11', 'm-10', 'm-9', 'm-8', 'm-7', 'm-6', 'm-5', 'm-4', 'm-3', 'm-2','m-1','m+1']

In [10]:
new_df = pd.concat([df[identifier_cols],auto,df[returns]], axis=1, sort=False)

In [11]:
del df
del auto 
df = None
auto = None

In [12]:
new_df.columns

Index(['DATE', 'COMNAM', 'NCUSIP', 'PERMNO', 'PERMCO', 'SICCD',
       'TICKER_PERMNO', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', 'm-12', 'm-11', 'm-10',
       'm-9', 'm-8', 'm-7', 'm-6', 'm-5', 'm-4', 'm-3', 'm-2', 'm-1', 'm+1'],
      dtype='object')

In [13]:
cross_sectional_cols = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42']
time_series_cols = ['m-12', 'm-11', 'm-10',
       'm-9', 'm-8', 'm-7', 'm-6', 'm-5', 'm-4', 'm-3', 'm-2', 'm-1']
Y = ['m+1']

In [14]:
len(cross_sectional_cols)

43

In [15]:
len(time_series_cols)

12

In [17]:
import tensorflow as tf
from tensorflow.keras.layers import LSTM, Dense, Concatenate, Input, Dropout, BatchNormalization
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint,ReduceLROnPlateau

In [18]:
'''Model 4: LSTM + MLP Regression'''
time_series_inputs = Input(shape=(12,1))
cross_sectional_inputs = Input(shape=(43,))

h1_rets=LSTM(units=50, return_sequences=True)(time_series_inputs)
time_series_output=LSTM(units=30, return_sequences=False)(h1_rets) 

combined_features = Concatenate()([cross_sectional_inputs, time_series_output])

h1=Dense(128, activation='relu')(combined_features)
h2=Dense(64, activation='relu')(h1)
h3=Dense(32, activation='relu')(h2)
outputs=Dense(1, activation='sigmoid')(h3)

hybrid_model2=tf.keras.Model(inputs=[cross_sectional_inputs,time_series_inputs], outputs=outputs)

opt=tf.keras.optimizers.Adam(
    learning_rate=0.005,
)
hybrid_model2.compile(
    optimizer=opt, loss='binary_crossentropy',metrics=['binary_crossentropy','mean_squared_error','mean_absolute_error','mean_absolute_percentage_error']
)

In [19]:
hybrid_model2.summary()

Model: "functional_1"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_1 (InputLayer)            [(None, 12, 1)]      0
__________________________________________________________________________________________________
lstm (LSTM)                     (None, 12, 50)       10400       input_1[0][0]
__________________________________________________________________________________________________
input_2 (InputLayer)            [(None, 43)]         0
__________________________________________________________________________________________________
lstm_1 (LSTM)                   (None, 30)           9720        lstm[0][0]
__________________________________________________________________________________________________
concatenate (Concatenate)       (None, 73)           0           input_2[0][0]
                                                                 lstm_1[0][0]
__________________________________________________________________________________________________
dense (Dense)                   (None, 128)          9472        concatenate[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 64)           8256        dense[0][0]
__________________________________________________________________________________________________
dense_2 (Dense)                 (None, 32)           2080        dense_1[0][0]
__________________________________________________________________________________________________
dense_3 (Dense)                 (None, 1)            33          dense_2[0][0]
==================================================================================================
Total params: 39,961
Trainable params: 39,961
Non-trainable params: 0
__________________________________________________________________________________________________

In [22]:
dates = new_df['DATE'].unique()

In [23]:
dates

array(['1971-01-31T00:00:00.000000000', '1971-02-28T00:00:00.000000000',
       '1971-03-31T00:00:00.000000000', '1971-04-30T00:00:00.000000000',
       '1971-05-31T00:00:00.000000000', '1971-06-30T00:00:00.000000000',
       '1971-07-31T00:00:00.000000000', '1971-08-31T00:00:00.000000000',
       '1971-09-30T00:00:00.000000000', '1971-10-31T00:00:00.000000000',
       '1971-11-30T00:00:00.000000000', '1971-12-31T00:00:00.000000000',
       '1972-01-31T00:00:00.000000000', '1972-02-29T00:00:00.000000000',
       '1972-03-31T00:00:00.000000000', '1972-04-30T00:00:00.000000000',
       '1972-05-31T00:00:00.000000000', '1972-06-30T00:00:00.000000000',
       '1972-07-31T00:00:00.000000000', '1972-08-31T00:00:00.000000000',
       '1972-09-30T00:00:00.000000000', '1972-10-31T00:00:00.000000000',
       '1972-11-30T00:00:00.000000000', '1972-12-31T00:00:00.000000000',
       '1973-01-31T00:00:00.000000000', '1973-02-28T00:00:00.000000000',
       '1973-03-31T00:00:00.000000000', '1973-04-30T00:00:00.000000000',
       '1973-05-31T00:00:00.000000000', '1973-06-30T00:00:00.000000000',
       '1973-07-31T00:00:00.000000000', '1973-08-31T00:00:00.000000000',
       '1973-09-30T00:00:00.000000000', '1973-10-31T00:00:00.000000000',
       '1973-11-30T00:00:00.000000000', '1973-12-31T00:00:00.000000000',
       '1974-01-31T00:00:00.000000000', '1974-02-28T00:00:00.000000000',
       '1974-03-31T00:00:00.000000000', '1974-04-30T00:00:00.000000000',
       '1974-05-31T00:00:00.000000000', '1974-06-30T00:00:00.000000000',
       '1974-07-31T00:00:00.000000000', '1974-08-31T00:00:00.000000000',
       '1974-09-30T00:00:00.000000000', '1974-10-31T00:00:00.000000000',
       '1974-11-30T00:00:00.000000000', '1974-12-31T00:00:00.000000000',
       '1975-01-31T00:00:00.000000000', '1975-02-28T00:00:00.000000000',
       '1975-03-31T00:00:00.000000000', '1975-04-30T00:00:00.000000000',
       '1975-05-31T00:00:00.000000000', '1975-06-30T00:00:00.000000000',
       '1975-07-31T00:00:00.000000000', '1975-08-31T00:00:00.000000000',
       '1975-09-30T00:00:00.000000000', '1975-10-31T00:00:00.000000000',
       '1975-11-30T00:00:00.000000000', '1975-12-31T00:00:00.000000000',
       '1976-01-31T00:00:00.000000000', '1976-02-29T00:00:00.000000000',
       '1976-03-31T00:00:00.000000000', '1976-04-30T00:00:00.000000000',
       '1976-05-31T00:00:00.000000000', '1976-06-30T00:00:00.000000000',
       '1976-07-31T00:00:00.000000000', '1976-08-31T00:00:00.000000000',
       '1976-09-30T00:00:00.000000000', '1976-10-31T00:00:00.000000000',
       '1976-11-30T00:00:00.000000000', '1976-12-31T00:00:00.000000000',
       '1977-01-31T00:00:00.000000000', '1977-02-28T00:00:00.000000000',
       '1977-03-31T00:00:00.000000000', '1977-04-30T00:00:00.000000000',
       '1977-05-31T00:00:00.000000000', '1977-06-30T00:00:00.000000000',
       '1977-07-31T00:00:00.000000000', '1977-08-31T00:00:00.000000000',
       '1977-09-30T00:00:00.000000000', '1977-10-31T00:00:00.000000000',
       '1977-11-30T00:00:00.000000000', '1977-12-31T00:00:00.000000000',
       '1978-01-31T00:00:00.000000000', '1978-02-28T00:00:00.000000000',
       '1978-03-31T00:00:00.000000000', '1978-04-30T00:00:00.000000000',
       '1978-05-31T00:00:00.000000000', '1978-06-30T00:00:00.000000000',
       '1978-07-31T00:00:00.000000000', '1978-08-31T00:00:00.000000000',
       '1978-09-30T00:00:00.000000000', '1978-10-31T00:00:00.000000000',
       '1978-11-30T00:00:00.000000000', '1978-12-31T00:00:00.000000000',
       '1979-01-31T00:00:00.000000000', '1979-02-28T00:00:00.000000000',
       '1979-03-31T00:00:00.000000000', '1979-04-30T00:00:00.000000000',
       '1979-05-31T00:00:00.000000000', '1979-06-30T00:00:00.000000000',
       '1979-07-31T00:00:00.000000000', '1979-08-31T00:00:00.000000000',
       '1979-09-30T00:00:00.000000000', '1979-10-31T00:00:00.000000000',
       '1979-11-30T00:00:00.000000000', '1979-12-31T00:00:00.000000000',
       '1980-01-31T00:00:00.000000000', '1980-02-29T00:00:00.000000000',
       '1980-03-31T00:00:00.000000000', '1980-04-30T00:00:00.000000000',
       '1980-05-31T00:00:00.000000000', '1980-06-30T00:00:00.000000000',
       '1980-07-31T00:00:00.000000000', '1980-08-31T00:00:00.000000000',
       '1980-09-30T00:00:00.000000000', '1980-10-31T00:00:00.000000000',
       '1980-11-30T00:00:00.000000000', '1980-12-31T00:00:00.000000000',
       '1981-01-31T00:00:00.000000000', '1981-02-28T00:00:00.000000000',
       '1981-03-31T00:00:00.000000000', '1981-04-30T00:00:00.000000000',
       '1981-05-31T00:00:00.000000000', '1981-06-30T00:00:00.000000000',
       '1981-07-31T00:00:00.000000000', '1981-08-31T00:00:00.000000000',
       '1981-09-30T00:00:00.000000000', '1981-10-31T00:00:00.000000000',
       '1981-11-30T00:00:00.000000000', '1981-12-31T00:00:00.000000000',
       '1982-01-31T00:00:00.000000000', '1982-02-28T00:00:00.000000000',
       '1982-03-31T00:00:00.000000000', '1982-04-30T00:00:00.000000000',
       '1982-05-31T00:00:00.000000000', '1982-06-30T00:00:00.000000000',
       '1982-07-31T00:00:00.000000000', '1982-08-31T00:00:00.000000000',
       '1982-09-30T00:00:00.000000000', '1982-10-31T00:00:00.000000000',
       '1982-11-30T00:00:00.000000000', '1982-12-31T00:00:00.000000000',
       '1983-01-31T00:00:00.000000000', '1983-02-28T00:00:00.000000000',
       '1983-03-31T00:00:00.000000000', '1983-04-30T00:00:00.000000000',
       '1983-05-31T00:00:00.000000000', '1983-06-30T00:00:00.000000000',
       '1983-07-31T00:00:00.000000000', '1983-08-31T00:00:00.000000000',
       '1983-09-30T00:00:00.000000000', '1983-10-31T00:00:00.000000000',
       '1983-11-30T00:00:00.000000000', '1983-12-31T00:00:00.000000000',
       '1984-01-31T00:00:00.000000000', '1984-02-29T00:00:00.000000000',
       '1984-03-31T00:00:00.000000000', '1984-04-30T00:00:00.000000000',
       '1984-05-31T00:00:00.000000000', '1984-06-30T00:00:00.000000000',
       '1984-07-31T00:00:00.000000000', '1984-08-31T00:00:00.000000000',
       '1984-09-30T00:00:00.000000000', '1984-10-31T00:00:00.000000000',
       '1984-11-30T00:00:00.000000000', '1984-12-31T00:00:00.000000000',
       '1985-01-31T00:00:00.000000000', '1985-02-28T00:00:00.000000000',
       '1985-03-31T00:00:00.000000000', '1985-04-30T00:00:00.000000000',
       '1985-05-31T00:00:00.000000000', '1985-06-30T00:00:00.000000000',
       '1985-07-31T00:00:00.000000000', '1985-08-31T00:00:00.000000000',
       '1985-09-30T00:00:00.000000000', '1985-10-31T00:00:00.000000000',
       '1985-11-30T00:00:00.000000000', '1985-12-31T00:00:00.000000000',
       '1986-01-31T00:00:00.000000000', '1986-02-28T00:00:00.000000000',
       '1986-03-31T00:00:00.000000000', '1986-04-30T00:00:00.000000000',
       '1986-05-31T00:00:00.000000000', '1986-06-30T00:00:00.000000000',
       '1986-07-31T00:00:00.000000000', '1986-08-31T00:00:00.000000000',
       '1986-09-30T00:00:00.000000000', '1986-10-31T00:00:00.000000000',
       '1986-11-30T00:00:00.000000000', '1986-12-31T00:00:00.000000000',
       '1987-01-31T00:00:00.000000000', '1987-02-28T00:00:00.000000000',
       '1987-03-31T00:00:00.000000000', '1987-04-30T00:00:00.000000000',
       '1987-05-31T00:00:00.000000000', '1987-06-30T00:00:00.000000000',
       '1987-07-31T00:00:00.000000000', '1987-08-31T00:00:00.000000000',
       '1987-09-30T00:00:00.000000000', '1987-10-31T00:00:00.000000000',
       '1987-11-30T00:00:00.000000000', '1987-12-31T00:00:00.000000000',
       '1988-01-31T00:00:00.000000000', '1988-02-29T00:00:00.000000000',
       '1988-03-31T00:00:00.000000000', '1988-04-30T00:00:00.000000000',
       '1988-05-31T00:00:00.000000000', '1988-06-30T00:00:00.000000000',
       '1988-07-31T00:00:00.000000000', '1988-08-31T00:00:00.000000000',
       '1988-09-30T00:00:00.000000000', '1988-10-31T00:00:00.000000000',
       '1988-11-30T00:00:00.000000000', '1988-12-31T00:00:00.000000000',
       '1989-01-31T00:00:00.000000000', '1989-02-28T00:00:00.000000000',
       '1989-03-31T00:00:00.000000000', '1989-04-30T00:00:00.000000000',
       '1989-05-31T00:00:00.000000000', '1989-06-30T00:00:00.000000000',
       '1989-07-31T00:00:00.000000000', '1989-08-31T00:00:00.000000000',
       '1989-09-30T00:00:00.000000000', '1989-10-31T00:00:00.000000000',
       '1989-11-30T00:00:00.000000000', '1989-12-31T00:00:00.000000000',
       '1990-01-31T00:00:00.000000000', '1990-02-28T00:00:00.000000000',
       '1990-03-31T00:00:00.000000000', '1990-04-30T00:00:00.000000000',
       '1990-05-31T00:00:00.000000000', '1990-06-30T00:00:00.000000000',
       '1990-07-31T00:00:00.000000000', '1990-08-31T00:00:00.000000000',
       '1990-09-30T00:00:00.000000000', '1990-10-31T00:00:00.000000000',
       '1990-11-30T00:00:00.000000000', '1990-12-31T00:00:00.000000000',
       '1991-01-31T00:00:00.000000000', '1991-02-28T00:00:00.000000000',
       '1991-03-31T00:00:00.000000000', '1991-04-30T00:00:00.000000000',
       '1991-05-31T00:00:00.000000000', '1991-06-30T00:00:00.000000000',
       '1991-07-31T00:00:00.000000000', '1991-08-31T00:00:00.000000000',
       '1991-09-30T00:00:00.000000000', '1991-10-31T00:00:00.000000000',
       '1991-11-30T00:00:00.000000000', '1991-12-31T00:00:00.000000000',
       '1992-01-31T00:00:00.000000000', '1992-02-29T00:00:00.000000000',
       '1992-03-31T00:00:00.000000000', '1992-04-30T00:00:00.000000000',
       '1992-05-31T00:00:00.000000000', '1992-06-30T00:00:00.000000000',
       '1992-07-31T00:00:00.000000000', '1992-08-31T00:00:00.000000000',
       '1992-09-30T00:00:00.000000000', '1992-10-31T00:00:00.000000000',
       '1992-11-30T00:00:00.000000000', '1992-12-31T00:00:00.000000000',
       '1993-01-31T00:00:00.000000000', '1993-02-28T00:00:00.000000000',
       '1993-03-31T00:00:00.000000000', '1993-04-30T00:00:00.000000000',
       '1993-05-31T00:00:00.000000000', '1993-06-30T00:00:00.000000000',
       '1993-07-31T00:00:00.000000000', '1993-08-31T00:00:00.000000000',
       '1993-09-30T00:00:00.000000000', '1993-10-31T00:00:00.000000000',
       '1993-11-30T00:00:00.000000000', '1993-12-31T00:00:00.000000000',
       '1994-01-31T00:00:00.000000000', '1994-02-28T00:00:00.000000000',
       '1994-03-31T00:00:00.000000000', '1994-04-30T00:00:00.000000000',
       '1994-05-31T00:00:00.000000000', '1994-06-30T00:00:00.000000000',
       '1994-07-31T00:00:00.000000000', '1994-08-31T00:00:00.000000000',
       '1994-09-30T00:00:00.000000000', '1994-10-31T00:00:00.000000000',
       '1994-11-30T00:00:00.000000000', '1994-12-31T00:00:00.000000000',
       '1995-01-31T00:00:00.000000000', '1995-02-28T00:00:00.000000000',
       '1995-03-31T00:00:00.000000000', '1995-04-30T00:00:00.000000000',
       '1995-05-31T00:00:00.000000000', '1995-06-30T00:00:00.000000000',
       '1995-07-31T00:00:00.000000000', '1995-08-31T00:00:00.000000000',
       '1995-09-30T00:00:00.000000000', '1995-10-31T00:00:00.000000000',
       '1995-11-30T00:00:00.000000000', '1995-12-31T00:00:00.000000000',
       '1996-01-31T00:00:00.000000000', '1996-02-29T00:00:00.000000000',
       '1996-03-31T00:00:00.000000000', '1996-04-30T00:00:00.000000000',
       '1996-05-31T00:00:00.000000000', '1996-06-30T00:00:00.000000000',
       '1996-07-31T00:00:00.000000000', '1996-08-31T00:00:00.000000000',
       '1996-09-30T00:00:00.000000000', '1996-10-31T00:00:00.000000000',
       '1996-11-30T00:00:00.000000000', '1996-12-31T00:00:00.000000000',
       '1997-01-31T00:00:00.000000000', '1997-02-28T00:00:00.000000000',
       '1997-03-31T00:00:00.000000000', '1997-04-30T00:00:00.000000000',
       '1997-05-31T00:00:00.000000000', '1997-06-30T00:00:00.000000000',
       '1997-07-31T00:00:00.000000000', '1997-08-31T00:00:00.000000000',
       '1997-09-30T00:00:00.000000000', '1997-10-31T00:00:00.000000000',
       '1997-11-30T00:00:00.000000000', '1997-12-31T00:00:00.000000000',
       '1998-01-31T00:00:00.000000000', '1998-02-28T00:00:00.000000000',
       '1998-03-31T00:00:00.000000000', '1998-04-30T00:00:00.000000000',
       '1998-05-31T00:00:00.000000000', '1998-06-30T00:00:00.000000000',
       '1998-07-31T00:00:00.000000000', '1998-08-31T00:00:00.000000000',
       '1998-09-30T00:00:00.000000000', '1998-10-31T00:00:00.000000000',
       '1998-11-30T00:00:00.000000000', '1998-12-31T00:00:00.000000000',
       '1999-01-31T00:00:00.000000000', '1999-02-28T00:00:00.000000000',
       '1999-03-31T00:00:00.000000000', '1999-04-30T00:00:00.000000000',
       '1999-05-31T00:00:00.000000000', '1999-06-30T00:00:00.000000000',
       '1999-07-31T00:00:00.000000000', '1999-08-31T00:00:00.000000000',
       '1999-09-30T00:00:00.000000000', '1999-10-31T00:00:00.000000000',
       '1999-11-30T00:00:00.000000000', '1999-12-31T00:00:00.000000000',
       '2000-01-31T00:00:00.000000000', '2000-02-29T00:00:00.000000000',
       '2000-03-31T00:00:00.000000000', '2000-04-30T00:00:00.000000000',
       '2000-05-31T00:00:00.000000000', '2000-06-30T00:00:00.000000000',
       '2000-07-31T00:00:00.000000000', '2000-08-31T00:00:00.000000000',
       '2000-09-30T00:00:00.000000000', '2000-10-31T00:00:00.000000000',
       '2000-11-30T00:00:00.000000000', '2000-12-31T00:00:00.000000000',
       '2001-01-31T00:00:00.000000000', '2001-02-28T00:00:00.000000000',
       '2001-03-31T00:00:00.000000000', '2001-04-30T00:00:00.000000000',
       '2001-05-31T00:00:00.000000000', '2001-06-30T00:00:00.000000000',
       '2001-07-31T00:00:00.000000000', '2001-08-31T00:00:00.000000000',
       '2001-09-30T00:00:00.000000000', '2001-10-31T00:00:00.000000000',
       '2001-11-30T00:00:00.000000000', '2001-12-31T00:00:00.000000000',
       '2002-01-31T00:00:00.000000000', '2002-02-28T00:00:00.000000000',
       '2002-03-31T00:00:00.000000000', '2002-04-30T00:00:00.000000000',
       '2002-05-31T00:00:00.000000000', '2002-06-30T00:00:00.000000000',
       '2002-07-31T00:00:00.000000000', '2002-08-31T00:00:00.000000000',
       '2002-09-30T00:00:00.000000000', '2002-10-31T00:00:00.000000000',
       '2002-11-30T00:00:00.000000000', '2002-12-31T00:00:00.000000000',
       '2003-01-31T00:00:00.000000000', '2003-02-28T00:00:00.000000000',
       '2003-03-31T00:00:00.000000000', '2003-04-30T00:00:00.000000000',
       '2003-05-31T00:00:00.000000000', '2003-06-30T00:00:00.000000000',
       '2003-07-31T00:00:00.000000000', '2003-08-31T00:00:00.000000000',
       '2003-09-30T00:00:00.000000000', '2003-10-31T00:00:00.000000000',
       '2003-11-30T00:00:00.000000000', '2003-12-31T00:00:00.000000000',
       '2004-01-31T00:00:00.000000000', '2004-02-29T00:00:00.000000000',
       '2004-03-31T00:00:00.000000000', '2004-04-30T00:00:00.000000000',
       '2004-05-31T00:00:00.000000000', '2004-06-30T00:00:00.000000000',
       '2004-07-31T00:00:00.000000000', '2004-08-31T00:00:00.000000000',
       '2004-09-30T00:00:00.000000000', '2004-10-31T00:00:00.000000000',
       '2004-11-30T00:00:00.000000000', '2004-12-31T00:00:00.000000000',
       '2005-01-31T00:00:00.000000000', '2005-02-28T00:00:00.000000000',
       '2005-03-31T00:00:00.000000000', '2005-04-30T00:00:00.000000000',
       '2005-05-31T00:00:00.000000000', '2005-06-30T00:00:00.000000000',
       '2005-07-31T00:00:00.000000000', '2005-08-31T00:00:00.000000000',
       '2005-09-30T00:00:00.000000000', '2005-10-31T00:00:00.000000000',
       '2005-11-30T00:00:00.000000000', '2005-12-31T00:00:00.000000000',
       '2006-01-31T00:00:00.000000000', '2006-02-28T00:00:00.000000000',
       '2006-03-31T00:00:00.000000000', '2006-04-30T00:00:00.000000000',
       '2006-05-31T00:00:00.000000000', '2006-06-30T00:00:00.000000000',
       '2006-07-31T00:00:00.000000000', '2006-08-31T00:00:00.000000000',
       '2006-09-30T00:00:00.000000000', '2006-10-31T00:00:00.000000000',
       '2006-11-30T00:00:00.000000000', '2006-12-31T00:00:00.000000000',
       '2007-01-31T00:00:00.000000000', '2007-02-28T00:00:00.000000000',
       '2007-03-31T00:00:00.000000000', '2007-04-30T00:00:00.000000000',
       '2007-05-31T00:00:00.000000000', '2007-06-30T00:00:00.000000000',
       '2007-07-31T00:00:00.000000000', '2007-08-31T00:00:00.000000000',
       '2007-09-30T00:00:00.000000000', '2007-10-31T00:00:00.000000000',
       '2007-11-30T00:00:00.000000000', '2007-12-31T00:00:00.000000000',
       '2008-01-31T00:00:00.000000000', '2008-02-29T00:00:00.000000000',
       '2008-03-31T00:00:00.000000000', '2008-04-30T00:00:00.000000000',
       '2008-05-31T00:00:00.000000000', '2008-06-30T00:00:00.000000000',
       '2008-07-31T00:00:00.000000000', '2008-08-31T00:00:00.000000000',
       '2008-09-30T00:00:00.000000000', '2008-10-31T00:00:00.000000000',
       '2008-11-30T00:00:00.000000000', '2008-12-31T00:00:00.000000000',
       '2009-01-31T00:00:00.000000000', '2009-02-28T00:00:00.000000000',
       '2009-03-31T00:00:00.000000000', '2009-04-30T00:00:00.000000000',
       '2009-05-31T00:00:00.000000000', '2009-06-30T00:00:00.000000000',
       '2009-07-31T00:00:00.000000000', '2009-08-31T00:00:00.000000000',
       '2009-09-30T00:00:00.000000000', '2009-10-31T00:00:00.000000000',
       '2009-11-30T00:00:00.000000000', '2009-12-31T00:00:00.000000000',
       '2010-01-31T00:00:00.000000000', '2010-02-28T00:00:00.000000000',
       '2010-03-31T00:00:00.000000000', '2010-04-30T00:00:00.000000000',
       '2010-05-31T00:00:00.000000000', '2010-06-30T00:00:00.000000000',
       '2010-07-31T00:00:00.000000000', '2010-08-31T00:00:00.000000000',
       '2010-09-30T00:00:00.000000000', '2010-10-31T00:00:00.000000000',
       '2010-11-30T00:00:00.000000000', '2010-12-31T00:00:00.000000000',
       '2011-01-31T00:00:00.000000000', '2011-02-28T00:00:00.000000000',
       '2011-03-31T00:00:00.000000000', '2011-04-30T00:00:00.000000000',
       '2011-05-31T00:00:00.000000000', '2011-06-30T00:00:00.000000000',
       '2011-07-31T00:00:00.000000000', '2011-08-31T00:00:00.000000000',
       '2011-09-30T00:00:00.000000000', '2011-10-31T00:00:00.000000000',
       '2011-11-30T00:00:00.000000000', '2011-12-31T00:00:00.000000000',
       '2012-01-31T00:00:00.000000000', '2012-02-29T00:00:00.000000000',
       '2012-03-31T00:00:00.000000000', '2012-04-30T00:00:00.000000000',
       '2012-05-31T00:00:00.000000000', '2012-06-30T00:00:00.000000000',
       '2012-07-31T00:00:00.000000000', '2012-08-31T00:00:00.000000000',
       '2012-09-30T00:00:00.000000000', '2012-10-31T00:00:00.000000000',
       '2012-11-30T00:00:00.000000000', '2012-12-31T00:00:00.000000000',
       '2013-01-31T00:00:00.000000000', '2013-02-28T00:00:00.000000000',
       '2013-03-31T00:00:00.000000000', '2013-04-30T00:00:00.000000000',
       '2013-05-31T00:00:00.000000000', '2013-06-30T00:00:00.000000000',
       '2013-07-31T00:00:00.000000000', '2013-08-31T00:00:00.000000000',
       '2013-09-30T00:00:00.000000000', '2013-10-31T00:00:00.000000000',
       '2013-11-30T00:00:00.000000000', '2013-12-31T00:00:00.000000000',
       '2014-01-31T00:00:00.000000000', '2014-02-28T00:00:00.000000000',
       '2014-03-31T00:00:00.000000000', '2014-04-30T00:00:00.000000000',
       '2014-05-31T00:00:00.000000000', '2014-06-30T00:00:00.000000000',
       '2014-07-31T00:00:00.000000000', '2014-08-31T00:00:00.000000000',
       '2014-09-30T00:00:00.000000000', '2014-10-31T00:00:00.000000000',
       '2014-11-30T00:00:00.000000000', '2014-12-31T00:00:00.000000000',
       '2015-01-31T00:00:00.000000000', '2015-02-28T00:00:00.000000000',
       '2015-03-31T00:00:00.000000000', '2015-04-30T00:00:00.000000000',
       '2015-05-31T00:00:00.000000000', '2015-06-30T00:00:00.000000000',
       '2015-07-31T00:00:00.000000000', '2015-08-31T00:00:00.000000000',
       '2015-09-30T00:00:00.000000000', '2015-10-31T00:00:00.000000000',
       '2015-11-30T00:00:00.000000000', '2015-12-31T00:00:00.000000000',
       '2016-01-31T00:00:00.000000000', '2016-02-29T00:00:00.000000000',
       '2016-03-31T00:00:00.000000000', '2016-04-30T00:00:00.000000000',
       '2016-05-31T00:00:00.000000000', '2016-06-30T00:00:00.000000000',

In [27]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [30]:
import gc

In [ ]:
start_time = time.time()

x = [new_df[cross_sectional_cols].values,new_df[time_series_cols].values]
y = new_df[Y].values[:,0]

for dt in dates[119:]:
    end_date = pd.to_datetime(dt)
    start_date = pd.to_datetime(pd.to_datetime(dt) - relativedelta(years=10))
    print(start_date,end_date)
    
    mask_train=(new_df[['DATE']]>=start_date) & (new_df[['DATE']]<=end_date)
    
    x_train, y_train=[i[mask_train['DATE'],:] for i in x], y[mask_train['DATE']]
    
    hybrid_model2=tf.keras.Model(inputs=[cross_sectional_inputs,time_series_inputs], outputs=outputs)

    opt=tf.keras.optimizers.Adam(
        learning_rate=0.005,
    )
    hybrid_model2.compile(
        optimizer=opt, loss='binary_crossentropy')
    
    mcp_save = ModelCheckpoint(os.path.join(wd_path,'models/hybrid_reg_model_w_auto_train_period_'+str(start_date.month)+'_'+str(start_date.year)+'_'+str(end_date.month)+'_'+str(end_date.year)+'.hdf5'), save_best_only=True, monitor='val_loss', mode='min') 
    
    history_hybrid2=hybrid_model2.fit(
        x=x_train, y=y_train, batch_size=512, epochs=3, verbose=1, 
        callbacks=[mcp_save],
        validation_split=0.1
    )
    
    del hybrid_model2
    del history_hybrid2
    del x_train
    del y_train
    gc.collect()
    hybrid_model2 = None
    history_hybrid2 = None
    x_train = None
    y_train = None
print("--- %s seconds ---" % (time.time() - start_time))

1970-12-31 00:00:00 1980-12-31 00:00:00
Epoch 1/3
607/607 [==============================] - 4s 7ms/step - loss: 240.9057 - val_loss: 288.2511
Epoch 2/3
607/607 [==============================] - 4s 6ms/step - loss: 240.9059 - val_loss: 288.2511
Epoch 3/3
607/607 [==============================] - 4s 6ms/step - loss: 240.9056 - val_loss: 288.2511
1971-01-31 00:00:00 1981-01-31 00:00:00
Epoch 1/3
613/613 [==============================] - 4s 7ms/step - loss: 241.7080 - val_loss: 274.1671
Epoch 2/3
613/613 [==============================] - 4s 6ms/step - loss: 241.7081 - val_loss: 274.1671
Epoch 3/3
613/613 [==============================] - 4s 6ms/step - loss: 241.7082 - val_loss: 274.1671
1971-02-28 00:00:00 1981-02-28 00:00:00
Epoch 1/3
615/615 [==============================] - 4s 7ms/step - loss: 242.0102 - val_loss: 284.4173
Epoch 2/3
615/615 [==============================] - 4s 6ms/step - loss: 242.0105 - val_loss: 284.4173
Epoch 3/3
615/615 [==============================] - 4s 6ms/step - loss: 242.0103 - val_loss: 284.4173
1971-03-31 00:00:00 1981-03-31 00:00:00
Epoch 1/3
618/618 [==============================] - 4s 7ms/step - loss: 242.1823 - val_loss: 287.4599
Epoch 2/3
141/618 [=====>........................] - ETA: 2s - loss: 239.1013